<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/style.css">
</head>
<body>
    <form action="https://formsubmit.co/nzrjj90@gmail.com" method = "POST">
      <label for="company"> empresa </label>
      <input type="text" name = "company" required>

      <label for="mensaje"> mensaje </label>
      <input type="text" name = "mesagge" required>

      <input type="hidden" name = "_next" value = "https://dyamond.up.railway.app">  
      <input type="hidden" name = "_captcha" value = "false">

      <input class = "btn" type="submit" value = "Send">
    </form>


 </body>
 </html>