<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title> </title>
    <link rel="stylesheet" href = "/public/assets/style.css" >  
    
    <!-- Sassy Frass font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sassy+Frass&family=Unbounded:wght@500;800&display=swap" rel="stylesheet">

</head>

<body>
    <header class = "header">
        <div class = "logo-header">
          <!-- <a href=""> <img src="/public/image/gam.png" alt=""></a> -->
        </div>
    
        <div class = "nav-menu">
          <input type="checkbox" id = "check">
          <label for="check" class = "checkbtn">
            <i class = "menu-icon"> <img src="/public/image/menu.png" alt=""></i>
          </label>
          
          <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
    
          </ul>
          </div>
          
      </header>
      
    
        <!-- <img class = "target" src="/public/image/lentes.png" alt="">
        <h1> Hello! Im Developer</h1>
        <p id = "name"> My name is John Nazario</p>
        <p id = "jap"> フアン・ナザリオ</p>
        <p id = "w"> Welcome my profile</p> -->
        <!-- <div id = "redes">
            <img src="/public/image/you.png" alt="">
            <img src="/public/image/twich.png" alt="">
            <img src="/public/image/face.png" alt="">
            <img src="/public/image/twi.png" alt="">
            <img src="/public/image/tik.png" alt="">
        </div> -->


        <!-- <div class = "switch" id = "switch"> 
            <span><i class = "fa fa-sun"></i> </span>
            <span><i class = "fa fa-moon"></i> </span>
        </div> -->
    

  
    <main>
        <section id = "home" class="" >
          <div class = "container-presentation">
            <div class = "data-description">
            <p class = "w"> Welcome my profile</p> 
            <h1 class = "deve"> Im Developer</h1><br>
            <p id = "name"> My name is John Nazario</p>
            <p id = "jap"> フアン・ナザリオ</p><br>
            <p id = "aboutp"> I like programing, design web, I have 32 years and I live in Peru. 
            I am oriented to fullstack development. I have one year programing with javascript but I have knowledges of more than 8 years about TI. </p>
            <button> <a href="#about"> About</a></button>
            <button> <a href="#contact"> Contact</a></button>
            </div>
                
            <div class = "data-image">
                <img class = "" src="/public/image/lentes.png" alt="">
            </div>
        </div>
        </section>

        <section id="projects" class="projects">
            <div class="container-projects">
              <div class="data-projects">
                <p>My recent works</p>
                <h1>Portfolio</h1>
              </div>
            </div>
          
              <div class="example-container">
                <div class="example" id="exampleOne">
                  <div class="content">
                    <p>Benefits Of VideoGames</p>
                    <button>Demo</button>
                  </div>
                </div>
                <div class="example" id="exampleTwo">
                  <div class="content">
                    <p>Not Avaliable</p>
                    <button>Demo</button>
                  </div>
                </div>
                <div class="example" id="exampleThree">
                  <div class="content">
                    <p>Not Avaliable</p>
                    <button>Demo</button>
                  </div>
                </div>
              </div>
            
          </section>

          <section id = "skills" class="skills" >
           <div class = "container-skills">
            <p>My knowledges</p>
            <h1>My Skills</h1>
          </div>
          
            <div class = "data-skills" id = "data-skills">
              <div class="grid-item" id = "item-html">
                   <img src="/public/image/html.png" alt="">
              </div>
              
              <div class="grid-item" id = "item-css">
                   <img src="/public/image/css.png" alt="">
              </div>
              
              <div class="grid-item" id = "item-js">
                   <img src="/public/image/jsjs.png" alt="">
              </div>
               
              <div class="grid-item" id = "item-sass">
                       <img src="/public/image/sass.png" alt="">
              </div>
              
              <div class="grid-item" id = "item-boos">
                       <img src="/public/image/boos.png" alt="">
              </div>
              
              <div class="grid-item" id = "item-git">
                       <img src="/public/image/github.png" alt="">
              </div>
                   
              <div class="grid-item" id = "item-mongo">
                           <img src="/public/image/mongo.png" alt="">
              </div>
                       
             <div class="grid-item" id = "item-sql">
                             <img src="/public/image/sql.png" alt="">
             </div>
                         
             <div class="grid-item" id = "item-react">
                           <img src="/public/image/react.png" alt="">
             </div>
                       
             <div class="grid-item" id = "item-aws">
                           <img src="/public/image/aws.png" alt="">
             </div>
                       
             <div class="grid-item" id = "item-type">
                             <img src="/public/image/type.png" alt="">
             </div>
          </div>
              
          </section>
                
        <section id = "services" class="services" >
          <div class = "container-services">
            <div class = "data-services">
              <p> Features</p>
              <h1>What Services I provide</h1>
            </div>

            <div class = "data-design">
              <i> <img src="/public/image/design.png" alt=""></i> 
              <h2>Web Design</h2>
              <p>Let's agree on the best visual appearance of your site</p>
            </div>

            <div class = "data-development"> <i> <img src= "/public/image/development.png" alt=""></i> <h2> Web Development</h2><p>Creation and maintenance of websites and web applications</p></div>
            <!-- <div class = "data-app"> <i> <img src="/public/image/app.png" alt=""></i> <h2> App Development</h2> <p>Planning, design, development, testing and launch of an application.</p></div> -->
            <div class = "data-seo"> <i> <img src="/public/image/seo.png" alt=""></i> <h2> SEO</h2><p>The best search engine according to your requirements</p></div>
            <div class = "data-uiux"> <i> <img src="/public/image/uiux.png" alt=""></i> <h2> UI/UX</h2><p> Let me evaluate you the best functionality</p></div>
          </div>
        </section>

        <section id = "about" class="about" >
          
            <div class = "container-about">
              <p> A little bit</p>
              <h1>About me</h1>
            </div>

            <div class = "image-about">
              <img src="/public/image/pc.jpg" alt="">
            </div>

            <div class = "container-me">
              <p>I am a freelance fullstack oriented developer, eager to learn more every day. </p>
              <p>I love technology but also nature, sports and videogames.</p>
              <p>Since I was little I liked videogames I think that since I got to know videogames I had an interest in how technology advances.</p>
              <br>
              <p>Works in charge (not as programmer):</p>
              <p>Printer supervisor, performing maintenance, repair and installation service.</p>
              <p>Inventory assistant in a textile company, information entry, management of Excel and Word programs.</p>
              <p>Administrative assistant in restaurant, customer service, purchase and sale of merchandise.</p> 
              <p>Prevention and security in hypermarkets, merchandise control and personnel control.</p>  
              <br>
              <a href="">More details, my resume...</a>
            </div>

        </section>

        <section id = "contact" class="contact" >
            <div class = "container-contact">
              <div class = "data-cont">
                <p> Get in touch</p>
                <h1>Contact me</h1>
              </div>
            
            <div id = "address" class = "data-contact">
              <h2> Address</h2>
              <p> Lima - Av. Puente piedra</p>
            </div>
            <div id = "phone" class = "data-contact">
              <h2> Phone</h2>
              <a href="https://wa.me/+51963199983">+51 9631...</a>
             
            </div>
            <div id = "email" class = "data-contact">
              <h2> Email</h2>
              <p> mondd5230@gmail.com </p>
            </div>
            <div id = "location" class = "data-contact">
              <h2> Location</h2>
              <p> Peru - Carabayllo</p>
            </div>
            
          <form id = "formulario" class = "data-contact" name = "formulario" action="/authenticate" method = "POST">
                
            <div class = "">
                <div class = "title"></div>
                <div class = "field"><input type="text" id = "username" name = "username" placeholder = "username"> </div>
            </div>
            
            <div class = "">
                <div class = "title"></div>
                <div class = "field"><input type="password" id = "password" name = "password" placeholder = "password"></div>
            </div>

            <div class = "" >
                <div class = "title"><input id = "botonLogin" class = "botonLogin" type="submit" value = "Login"></div>
                <div class = "button"><a href="/public/html/signup.html">Register</a></div>
            </div>
            
            </form>
          </div>
             
        </section>
      </main>
      
      <footer>

        ©opyright 2023, Developed by GoodsDay. All Rights Reserved
        v. 3.1. <br>
        Last update 22.02.2023
        
    </footer>  
    
        <!-- <section id = "sectionOne">
            
        <div id = "projects" class = "container">
            <img id = "pro1" class = "image1" src="/public/image/grid.JPG" data-slider = "/public/image/game1.JPG,/public/image/game2.JPG,/public/image/game3.JPG" data-description = "My first page was about videogames, the world of videogames as it has progressed up to now, and the positive point of view it generates."  alt="">
            <img id = "pro2" class = "image2" src="/public/image/comingSoon.jpg" data-slider = "/public/image/charge.png,/public/image/charge.png,/public/image/charge.png" data-description = "Not Avaliable" alt="">
            <img id = "pro3" class = "image3" src="/public/image/comingSoon.jpg" data-slider = "/public/image/charge.png,/public/image/charge.png,/public/image/charge.png" data-description = "Not Avaliable" alt="">
            <img id = "pro4" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro5" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro6" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro7" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro8" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            </div>

          

        </section>
    
        <section id = "sectionTwo">
           <div id = "technologies"> 
                
                <p id = "p1"> t</p>
                <p id = "p11">ech</p>
                <p id = "p12">nologies</p>
                <p id = "p2"> that I use </p>
                <p id = "p3"> and am learning</p>
                
            
                <div id = "techIMG">
                <img id = "html5" src="/public/image/html.png" alt="">
                <img id = "jsjs" src="/public/image/jsjs.png" alt="">
                <img id = "css3" src="/public/image/css.png" alt="">
                <img id = "sass" src="/public/image/sass.png" alt="">
                <img src="/public/image/github.png" alt="">
                <img src="/public/image/mongo.png" alt="">
                <img src="/public/image/sql.png" alt="">
                <img src="/public/image/aws.png" alt="">
                <img src="/public/image/react.png" alt="">
                <img src="/public/image/type.png" alt="">
                </div>
            
           </div>
        </section>
    
        <section id = "sectionThree" class = "sectionThree">
            <div id = "about">
                <div id = "ab"> </div>
                <div id = "abo"> </div>
                
                <h1 id = "abouth">About me</h1>
                <p id = "aboutp"> I like programing, design web, I have 32 years and I live in Peru. 
                    I am oriented to fullstack development. I have one year programing with javascript but I have knowledges of more than 8 years about TI. 
                    Every day its learn something new in this world. <br>
                <br>
                I love sport and as well the videogames. <br>
                I have studies of Technology informatic of three years, titled in the name of nation. <br>
                I am currently working as a freelance in this sector TI.
            </p>
            </div>

            <div id = "aboutIzq">
                <img src="/public/image/pc.jpg" alt="">
            </div>
        </section>
        
    
        <section id = "sectionFour">

            <div id = "resume">
                <h1> Jobs</h1>
                <p>
                Position of supervisor of printers in printer company, performing maintenance, repair and installation service.
            <br> <br> Position of inventory assistant in textile company, information entry, handling excel and word programs.  <br>
            <br> Position of administrative assistant in a restaurant, customer service, purchase and sale of merchandise. <br>
            <br> Position of security prevention in hypermarket, merchandise control and personal control. <br>
            <br> My resume for more details ...</p> 
            <div id = "dowload" > <a href="/public/html/resume.html" > Details </a>   </div> 
            </div>

             
        </section>
    
       
    
        <section id = "sectionFive">

            <div id = "location">
                <img src="./public/image/location.png" alt="">
                <p> LOCATION</p>
                <p> Peru - Lima Pan. Norte</p>
            </div>

            <div id = "What">
                <a id = "imgWhat" href="https://wa.me/+51963199983" id = "btn-wsp">
                    <img src="/public/image/whatsapp.png" alt="">
                    <p> PHONE NUMBER</p>
                </a>
            </div>

            <div id = "contact">
                <h1 id = "contactMe"> Contact me</h1> <br>
                <p id = "contactP"> If you have a project in mind and are interested in my web development services, contact me.
                    I will answer you as soon as possible.</p>
            </div>
         
            <form id = "formulario" name = "formulario" action="/authenticate" method = "POST">
                
                <div class = "">
                    <div class = "title"></div>
                    <div class = "field"><input type="text" id = "username" name = "username" placeholder = "username"> </div>
                </div>
                
                <div class = "">
                    <div class = "title"></div>
                    <div class = "field"><input type="password" id = "password" name = "password" placeholder = "password"></div>
                </div>
    
                <div class = "" >
                    <div class = "title"><input id = "botonLogin" type="submit" value = "Login"></div>
                    <div class = "button"><a href="/public/html/signup.html">Register</a></div>
                </div>
                
            </form>
    </section> -->
<!-- </main> -->
    

        
    <script src = "/public/js/slider.js"></script>
    <script src = "/public/js/fun.js"> </script>
    <script src = "/public/js/user.js"></script>
    <script src = "../app.js"> </script>
    <script src = "/public/js/authenty.js"> </script>
    <script src = "/public/js/interface.js"> </script>
    <script src = "/public/js/nav.js"> </script>
    
    <script src = "/public/js/target.js"> </script>
    <script src = "/public/js/mouse.js"> </script>

    <script type="text/javascript">
        document.oncontextmenu = function(){return false;}
        </script> 

    <script src="https://kit.fontawesome.com/f52e7a0686.js" crossorigin="anonymous"></script>
</body>
</html>