<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title> </title>
    <link rel="stylesheet" href = "/public/assets/style.css" >  
    
    
    

    <!-- Sassy Frass font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sassy+Frass&family=Unbounded:wght@500;800&display=swap" rel="stylesheet">

</head>

<body>

    <header id = "header">
        <img src="/public/image/lentes.png" alt="">
        <h1> Hello! Im Developer</h1>
        <p id = "name"> My name is John Nazario</p>
        <p id = "jap"> フアン・ナザリオ</p>
        <p id = "w"> Welcome my profile</p>
        <div id = "redes">
            <img src="/public/image/you.png" alt="">
            <img src="/public/image/twich.png" alt="">
            <img src="/public/image/face.png" alt="">
            <img src="/public/image/twi.png" alt="">
            <img src="/public/image/tik.png" alt="">
        </div>
    </header>

    <nav>
        <ul>
            <li> <a href="#header"> Inicio </a></li>
            <li> <a href="#sectionOne"> Projects</a></li>
            <li> <a href="#sectionTwo"> Technologies</a></li>
            <li> <a href="#sectionThree"> About me</a></li>
            <li> <a href="#sectionFour"> Resume</a></li>
            <li> <a href="#sectionFive"> Contact me</a></li>
           
            
        </ul>
    </nav>
  
    <main>
        <section id = "sectionOne">
            
        <div id = "projects" class = "container">
            <img id = "pro1" class = "image1" src="/public/image/grid.JPG" data-slider = "/public/image/game1.jpg,/public/image/game2.JPG,/public/image/game3.JPG" data-description = "My first page was about videogames, the world of videogames as it has progressed up to now, and the positive point of view it generates."  alt="">
            <img id = "pro2" class = "image2" src="/public/image/comingSoon.jpg" data-slider = "/public/image/1.png,/public/image/2.png,/public/image/3.png" data-description = "Not Avaliable" alt="">
            <img id = "pro3" class = "image3" src="/public/image/comingSoon.jpg" data-slider = "/public/image/game1.JPG,/public/image/game2.JPG,/public/image/game3.JPG" data-description = "Not Avaliable" alt="">
            <img id = "pro4" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro5" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro6" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro7" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            <img id = "pro8" src="/public/image/comingSoon.jpg" data-slider = "" data-description = "Not Avaliable" alt="">
            </div>

            <div class="modal">
                <div class="modal-content">
                  <p class="description"></p>
                  <div class="slider">
                    <img class="slide" />
                   <img class = "prev" src="/public/image/cero.png" alt="">
                    <img class="next" src="/public/image/cero.png" alt="">
                    <a class = "goToLink" href=""> Go to link</a>
                  </div>
                  <button class="close"> X</button>
                </div>
              </div>

        </section>
    
        <section id = "sectionTwo">
           <div id = "technologies"> 
                
                <p id = "p1"> t</p>
                <p id = "p11">ech</p>
                <p id = "p12">nologies</p>
                <p id = "p2"> that I use </p>
                <p id = "p3"> and am learning</p>
                
            
                <div id = "techIMG">
                <img id = "html5" src="/public/image/html.png" alt="">
                <img id = "jsjs" src="/public/image/jsjs.png" alt="">
                <img id = "css3" src="/public/image/css.png" alt="">
                <img id = "sass" src="/public/image/sass.png" alt="">
                <img src="/public/image/git.png" alt="">
                <img src="/public/image/mongo.png" alt="">
                <img src="/public/image/sql.png" alt="">
                <img src="/public/image/aws.png" alt="">
                <img src="/public/image/react.png" alt="">
                <img src="/public/image/type.png" alt="">
                </div>
            
           </div>
        </section>
    
        <section id = "sectionThree" class = "sectionThree">
            <div id = "about">
                <div id = "ab"> </div>
                <div id = "abo"> </div>
                
                <h1 id = "abouth">About me</h1>
                <p id = "aboutp"> I like programing, design web, I have 32 years and I live in Peru. 
                    I am oriented to fullstack development. I have one year programing with javascript but I have knowledges of more than 8 years about TI. 
                    Every day its learn something new in this world. <br>
                <br>
                I love sport and as well the videogames. <br>
                I have studies of Technology informatic of three years, titled in the name of nation. <br>
                I am currently working as a freelance in this sector TI.
            </p>
            </div>

            <div id = "aboutIzq">
                <img src="/public/image/pc.jpg" alt="">
            </div>
        </section>
        
    
        <section id = "sectionFour">

            <div id = "resume">
                <h1> Jobs</h1>
                <p>
                Position of supervisor of printers in printer company, performing maintenance, repair and installation service.
            <br> <br> Position of inventory assistant in textile company, information entry, handling excel and word programs.  <br>
            <br> Position of administrative assistant in a restaurant, customer service, purchase and sale of merchandise. <br>
            <br> Position of security prevention in hypermarket, merchandise control and personal control. <br>
            <br> My resume for more details ...</p> 
            <div id = "dowload" > <a href="/public/html/resume.html" > Details </a>   </div> 
            </div>

                <!-- <div id = "carta">
                    <p class = "jscenter"> JS</p>
                    <p class = "jsleft"> JS</p>
                    <p class = "jsright"> JS</p>
                    <p class = "jscenterleft"> JS</p>
                    <p class = "jscenterright"> JS</p>
                </div> -->
        </section>
    
       
    
        <section id = "sectionFive">

            <div id = "location">
                <img src="./public/image/location.png" alt="">
                <p> LOCATION</p>
                <p> Peru - Lima Pan. Norte</p>
            </div>

            <div id = "What">
                <a id = "imgWhat" href="https://wa.me/+51963199983" id = "btn-wsp">
                    <img src="/public/image/whatsapp.png" alt="">
                    <p> PHONE NUMBER</p>
                </a>
            </div>

            <div id = "contact">
                <h1 id = "contactMe"> Contact me</h1> <br>
                <p id = "contactP"> If you have a project in mind and are interested in my web development services, contact me.
                    I will answer you as soon as possible.</p>
            </div>
         
            <form id = "formulario" name = "formulario" action="/authenticate" method = "POST">
                
                <div class = "section">
                    <div class = "title"></div>
                    <div class = "field"><input type="text" id = "username" name = "username" placeholder = "username"> </div>
                </div>
                
                <div class = "section">
                    <div class = "title"></div>
                    <div class = "field"><input type="password" id = "password" name = "password" placeholder = "password"></div>
                </div>
    
                <div class = "section" >
                    <div class = "title"><input id = "botonLogin" type="submit" value = "Login"></div>
                    <div class = "button"><a href="/public/html/signup.html">Register</a></div>
                </div>
                
            </form>
    </section>
</main>
    <footer>
        v. 2.0. last update 8/02/2023
        &copy 2023 Good Dyas.
    </footer> 

        
    <script src = "/public/js/slider.js"></script>
    <script src = "/public/js/fun.js"> </script>
    <script src = "/public/js/user.js"></script>
    <script src = "../app.js"> </script>
    <script src = "/public/js/authenty.js"> </script>
    <script src = "/public/js/interface.js"> </script>

    <!-- <script type="text/javascript">
        document.oncontextmenu = function(){return false;}
        </script> -->

    <script src="https://kit.fontawesome.com/f52e7a0686.js" crossorigin="anonymous"></script>
</body>
</html>