<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/style.css">
</head>
<body>
    <section class = "cardsRegistered">
        <div class = "card target animated"> 
            <p class = "reg"> 
                REGISTED CORRECTLY
            </p>
            
        </div>
        <div class = "button"><a href="https://dyamond.up.railway.app/#formulario">To get back</a></div>    
    </section>
   
    
</body>
</html>
