webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Ubuntu", sans-serif;
  color: rgb(205, 205, 205); */
}

html {
  scroll-behavior: smooth;
}

/* This is interface */
/* This is interface */
/* This is interface */

header {
  min-height: 90vh;
  grid-column: 1/3;
  background: rgb(15, 23, 42);
  color: rgb(99, 102, 241);
  padding: 4rem;
  text-align: center;
 
}

#redes img:hover {
  background: yellow;
}

#redes img {
  object-fit: cover;
  padding: 5px;
  width: 48px;
  height: 48px;
  filter: brightness(100%);
  animation: redesAni 1s ease;
}
  @keyframes redesAni {
    0%{
      opacity: 0;
      }
    50%{
      opacity: 1%;
      
    }
    80%{
      opacity: 5%;
      
    }
  
  }

header img {
  width: 280px;
  
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(100%);
  z-index: 1;
}

header h1 {
  position: absolute;
  top: 15%;
  left: 57%;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  font-size: 5rem;
}

#name {
  position: absolute;
  top: 40%;
  left: 60%;
  font-size: 3rem;
  
}

#w {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 3rem;
  color: yellow;
  animation: wAni 3s ease-in;
}
   @keyframes wAni {
    0% {
      top: 40%;
      left: 70%;
      color:  rgb(99, 102, 241);
    }
    50% {
      top: 40%;
      left: 10%;
      color: rgb(99, 102, 241);
    }
    
 
   
  }  

#jap {
  position: absolute;
  top: 50%;
  left: 60%;
  font-size: 2rem;
  
}

nav {
  white-space: nowrap;
  /* background: rgb(79, 70, 229); */
  
  background: linear-gradient(#fff, rgb(15, 23, 42));
  font-size: 2rem;
  
  
}

nav ul {
  list-style: none;
  padding: 0;
  display: grid;
  place-items: center;
}

@media (min-height: 300px){
  nav ul {
    position: sticky;
    top: 0;
  }
}

nav ul li {
  margin: 1rem;
}

nav ul li a {
  display: block;
  padding: 0.5vrem 1rem;
  color: rgb(15, 23, 42);
  text-decoration: none;
}

nav ul li a.current {
  color: rgb(99, 102, 241);
}

main {
  padding-bottom: 40rem;
}

/* FINAL INTERFACE */
/* FINAL INTERFACE */
/* FINAL INTERFACE ARRIBA🎈*/ 


section {
  display: grid;
  max-width: 100vw;
  min-height: 100vh;
  place-items: center;
  padding: 2rem;
  margin: 0 0 2rem 0;
  font-weight: 2000;
}

footer {
  grid-column: 1/3;
  background: rgb(15, 23, 42);
  padding: 5rem 1rem;
  color: #fff;
}

#formSend {
  display: grid;
  place-items: center;
}

#formSend label {
 margin-left: -460px;
 padding: 10px;
 font-size: 2rem;
 color: #0984ff;
}

#formSend input {
  border: 1px solid #0984ff;
}

textarea {
  
  border: 1px solid #0984ff;
  width: 582px;
  height: 100px;
  resize: none;  
    
}

#formSend .btn {
  margin-top: 10px;
  background: #0984ff;
}



#containerCurri img{
  
  display: grid;
  place-items: center;
  top: 50%;
  left: 50%;

}

#containerCurri a {
  position: absolute;
  top: 100%;
  left: 100%;
 
  z-index: 2;
  
}


#der {
  grid-area: der;
  z-index: 1;
  /* background: linear-gradient(white, black); */
  /* top: 120px;
  left: 60%; */
}

#der img {
  width: 300px;
  height: 550px;
  background: #fff;
}

#izq {
  grid-area: izq;
  font-family: "Figtree", sans-serif;
  font-size: 5rem;
}

#izq h1 {
  color: rgb(205, 205, 205);
}

#izq h2 {
  color: rgb(205, 205, 205);
}

#izq.mostrartextOne {
  opacity: 0;
  transition: 2s linear;
}

#imgder {
  grid-area: imgder;
  width: 300px;
  height: 500px;
  top: 120px;
  left: 60%;
  background: #fff;
}

img#imgder.circle {
  position: absolute;
  transition: 0.5s linear;
  border-radius: 50%;
  -o-object-fit: content;
     object-fit: content;
  width: 250px;
  height: 250px;
  transform: translate(75%, 500px);
  background: #fff;
  object-fit: content;
}

#presentacion {
  grid-area: presentacion;
  font-family: "Figtree", sans-serif;
  font-size: 5rem;
  opacity: 0;
  left: -50%;
  -webkit-text-stroke-color: rgb(205, 205, 205);;
  -webkit-text-stroke-width: 1px;
  z-index: 1;
}

#presentacion h1 {
  color: #fff;
}

#presentacion p {
  color: black;
}

#presentacion.mostrartextTwo {
  opacity: 0;
  top: 50%;
  margin-left: 20%;
  transition: 3s ease-in-out;
}

#technologies {
  display: grid;
  place-items: center;
   
}

 #techIMG.theTechnologiesImg {
  opacity: 1;
  display: flex;
  height: 48px;
  margin: 20px;
  transition: 1s linear;
  animation: techAni 3s linear;
}

  @keyframes techAni {
    0% {
      opacity: 0;
      transform: scale(9.5) translate(-70%, -50%)
    }

    50% {
      position: absolute;
      opacity: 0;
      
    }

    90% {
      position: absolute;
      
    }
}


#techIMG {
  opacity: 0;
} 


#techIMG img{
  grid-area: jsjs;
  width: 48px;
  height: 48px;
  margin: 20px;
  
  
}
 

#sectionTwo {
  position: relative;
  
  display: grid;
  place-items: center;
  
}

#sectionTwo p {
  position: absolute;
  font-family: 'Sassy Frass', cursive;
  transform: rotate(-1.1turn);
  
  -webkit-text-stroke-color: rgb(15, 23, 42);;
  -webkit-text-stroke-width: 1px;
}

#p1.theP1 {
  opacity: 1;
 
  transition: 3s ease;
    animation: p1Ani 3s linear;
  }
    @keyframes p1Ani {
      0% {
        opacity: 0;
        
      }
      50%{
        opacity: 1;
        
      }
      100%{
        opacity: 1;
      }
    }


  #p1 {
    opacity: 0;
    font-size: 14rem;
    top: 22%;
    left: 2%;
  }

  #p11.theP11 {
    transition: 3s ease;
    animation: p11Ani 3s linear;
    opacity: 1;
  }
    @keyframes p11Ani {
      0% {
        opacity: 0;
      }
      50%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
  
  
  #p11 {
    opacity: 0;
    font-size: 13rem;
    top: 20%;
    left: 4%;
  }
  
  #p12.theP12 {
    opacity: 1;
    transition: 3s ease;
    animation: p12Ani 3s linear;
  }
    @keyframes p12Ani {
      0% {
        opacity: 0;
      }
      60%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
  
  
  #p12 {
    opacity: 0;
    font-size: 13rem;
    top: 5%;
    left: 10%;
  }

  #p2.theP2 {
    opacity: 1;
    animation: p2Ani 5s linear;
  }
    @keyframes p2Ani {
      0% {
        opacity: 0;
      }
      50%{
        opacity: 10%;
      
    }
  }
  

  #p2 {
    opacity: 0;
    font-size: 10rem;
    top: 20%;
    left: 30%;
  }    

  #p3.theP3 {
    opacity: 1;
    animation: p3Ani 5s linear;
  }
    @keyframes p3Ani {
      0% {
        opacity: 0;
      }
      50%{
        opacity: 10%;
      
    }
  }
  
  
  #p3 {
    opacity: 0;
    font-size: 10rem;
    top: 50%;
    left: 60%;
  }



#sectionThree {
  position: relative;
  min-height: 80vh;
  background: rgb(15, 23, 42);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'abouth . aboutIzq'
    'aboutp aboutp aboutIzq';

}

#abouth {
  position: absolute;
  grid-area: abouth;
  top: 20%;
  left: 10%;
  color: #fff;
  font-size: 5rem;
  z-index: 2;
 
}

#aboutp {
  position: absolute;
  grid-area: aboutp;
  top: -20%;
  left: 10%;
  font-size: 1rem;
  text-align: justify;
  z-index: 1;
}

#aboutIzq {
  grid-area: aboutIzq;
}

#aboutIzq img {
  position: relative;
  width: 500px;
  z-index: 3;
  object-fit: cover;
}

#ab {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 450px;
  height: 200px;
  background: rgb(99, 102, 241);
  z-index: 1;

} 

#abo {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 450px;
  height: 200px;
  background: #000;
  z-index: 2;

} 

#sectionFour {
  min-height: 50vh;
  
}

#sectionFour #resume {
  margin: 100px;
  color: rgb(99, 102, 241);
}

#sectionFour h1 {
  font-size: 7rem;
}

#sectionFour p {
  font-size: 1rem;
}

#sectionFour #dowload {
  grid-area: dowload;
  margin: 20px;
  padding: 20px;
  font-size: 2rem;
  background: transparent;
  box-shadow: 1px 1px 1px 1px #fff;
}

.ja h1 {
  color: black;
}

#javascript {
  grid-area: javascript;
  
  font-size: 5rem;
  top: 1px;
  right: 10%;
  opacity: 0;
}

#javascript h1 {
  color: rgb(84, 84, 84);
}

#css h1 {
  color: rgb(84, 84, 84);
}

#html h1 {
  color: rgb(84, 84, 84);
}

#javascript.efectoJ {
  -webkit-animation: letterA 1s ease;
          animation: letterA 1s ease;
  opacity: 1;
}

@-webkit-keyframes letterA {
  50% {
    transform: matrix(10, 2, 3, 40, 5, 6);
  }
}

@keyframes letterA {
  50% {
    transform: matrix(10, 2, 3, 40, 5, 6);
  }
}
#css {
  grid-area: css;
  font-size: 5rem;
  right: 30%;
}

#css.efectoC {
  -webkit-animation: letterC 3s ease-in-out;
          animation: letterC 3s ease-in-out;
}

@-webkit-keyframes letterC {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 50%;
  }
  20% {
    right: 10%;
    opacity: 50%;
  }
}

@keyframes letterC {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 50%;
  }
  20% {
    right: 10%;
  }
}
#html {
  scroll-behavior: smooth;
  grid-area: html;
  font-size: 5rem;
  right: 30%;
}

#html.efectoh {
  -webkit-animation: letterD 1s ease-in-out;
          animation: letterD 1s ease-in-out;
}

@-webkit-keyframes letterD {
  50% {
    opacity: 50%;
    right: 500px;
  }
}

@keyframes letterD {
  50% {
    opacity: 50%;
    right: 500px;
  }
  70% {
    opacity: 50%;
    
  }
}
#node {
  grid-area: node;
}

#node.animationNode {
  -webkit-animation: no 1s linear;
          animation: no 1s linear;
}

@-webkit-keyframes no {
  0% {
    transform: rotate(1.5turn);
  }
}

@keyframes no {
  0% {
    transform: rotate(1.5turn);
  }
}
#sql {
  grid-area: sql;
}

#sql.animationSql {
  -webkit-animation: sq 1s linear;
          animation: sq 1s linear;
}

@-webkit-keyframes sq {
  10% {
    transform: rotate(0.5turn);
  }
}

@keyframes sq {
  10% {
    transform: rotate(0.5turn);
  }
}
#scss {
  grid-area: scss;
}

#scss.animationScss {
  -webkit-animation: sc 1s linear;
          animation: sc 1s linear;
}

@-webkit-keyframes sc {
  20% {
    transform: rotate(1.5turn);
  }
}

@keyframes sc {
  20% {
    transform: rotate(1.5turn);
  }
}
#typescript {
  grid-area: typescript;
}

#typescript.animationTypescript {
  -webkit-animation: ty 1s linear;
          animation: ty 1s linear;
}

@-webkit-keyframes ty {
  30% {
    transform: rotate(2.1turn);
  }
}

@keyframes ty {
  30% {
    transform: rotate(2.1turn);
  }
}
#react {
  grid-area: react;
}

#react.animationReact {
  -webkit-animation: re 1s linear;
          animation: re 1s linear;
}

@-webkit-keyframes re {
  40% {
    transform: rotate(3.5turn);
  }
}

@keyframes re {
  40% {
    transform: rotate(3.5turn);
  }
}
#aws {
  grid-area: aws;
}

#aws.animationAws {
  -webkit-animation: aw 1s linear;
          animation: aw 1s linear;
}

@-webkit-keyframes aw {
  50% {
    transform: rotate(4.1turn);
  }
}

@keyframes aw {
  50% {
    transform: rotate(4.1turn);
  }
}
.subsection img {
  -webkit-animation: cod 4s linear infinite;
          animation: cod 4s linear infinite;
}

@-webkit-keyframes cod {
  50% {
    filter: brightness(1.75);
  }
}

@keyframes cod {
  50% {
    filter: brightness(1.75);
  }
}
.sin img {
  -webkit-animation: codi 7s linear infinite;
          animation: codi 7s linear infinite;
}

@-webkit-keyframes codi {
  50% {
    filter: brightness(0);
  }
}

@keyframes codi {
  50% {
    filter: brightness(0);
  }
}






#imageTwo {
  grid-area: imageTwo;
}


#sectionOne {
  display: grid;
  max-width: 100vw;
  min-height: 100vh;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    'projects projects projects projects';
    
}

.container {
  display: flex;
}



.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    '. .'
    'description slider'
    'description .';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding: 20px;
}

.description {
  grid-area: description;
  font-size: 1rem;
  z-index: 1;
  color: rgba(15, 23, 42);
  font-size: 1rem;
}

.slider {
  background: #fff;
  grid-area: slider;
  display: grid;
  justify-content: center;
  border-radius: 20px;
}

.slider img {
  z-index: 2;
}

div.slider::before{
  width: 0;
  height: 0;
  opacity: 0;
}

.slide {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 120%;
  width: 20px;
  z-index: 1;
  cursor: pointer;
  border-radius: none;
  background: #fff;
}

.goToLink {
  position: absolute;
  top: 150%;
  
  z-index: 1;
  cursor: pointer;
  border-radius: none;
  color: rgb(100, 255, 100);
}

.prev {
  left: 40%;
}

.next {
  left: 50%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: rgb(15, 23, 42);
  color: #000;
  font-size: 2rem;
  opacity: 50%;

}

.close:hover {
  opacity: 1;
  color: rgba(255, 255, 255);
  background: rgb(15, 23, 42);
}


#projects {
  grid-area: projects;
  
}

#projects img {
  width: 170px;
  height: 400px;
  display: flex;
  /* flex-grow: 1; */
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;

}

#projects img:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;

} 



#joh {
  color: #fff;
  grid-area: joh;
  font-size: 8rem;
  -webkit-text-stroke-color: rgb(252, 63, 63);
  -webkit-text-stroke-width: 3px;
}

#jop {
  grid-area: jop;
  font-size: 23px;
  color: #fff;
}



input[input=text], input[input=password] {
  border: solid 1px #fff;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
}

input[type=submit] {
  border: 0;
  outline: 0;
  background-color: #003366;
  color: white;
  padding: 10px 30px;
  border-radius: 3px;
}

.barra {
  position: absolute;
  width: 80px;
  height: 22px;
}

#threethb {
  position: absolute;
  width: 70px;
  height: 3px;
  opacity: 0;
  -webkit-animation: barr 15s ease-in-out infinite;
          animation: barr 15s ease-in-out infinite;
}

#threethb p {
  position: absolute;
  font-family: fantasy;
  font-size: 40px;
  left: 10px;
  top: 1px;
}

@-webkit-keyframes barr {
  10% {
    background: yellow;
    width: 20px;
    height: 3px;
    opacity: 1;
  }
  50% {
    background: linear-gradient(yellow, rgb(0, 255, 0));
    width: 50px;
    height: 3px;
    opacity: 1;
  }
  70% {
    background: rgb(19, 212, 19);
    width: 70px;
    height: 3px;
    opacity: 1;
  }
}

@keyframes barr {
  10% {
    background: yellow;
    width: 20px;
    height: 3px;
    opacity: 1;
  }
  50% {
    background: linear-gradient(yellow, rgb(0, 255, 0));
    width: 50px;
    height: 3px;
    opacity: 1;
  }
  70% {
    background: rgb(19, 212, 19);
    width: 70px;
    height: 3px;
    opacity: 1;
  }
}
#typescript:hover {
  transform: rotate(0.1turn);
}

#react:hover {
  transform: rotate(0.1turn);
}

#aws:hover {
  transform: rotate(0.1turn);
}


footer {
  grid-column: 1/3;
  background:rgb(15, 23, 42);
  padding: 5rem 1rem;
  
}

#sectionFive {
  position: relative;
  
  font-size: 3rem;
  background:rgb(15, 23, 42);
  color: #fff;
  font-family: 'Ubuntu',sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'contact .'
    'contact formulario' 
    'contact  formulario';
    

}

#formulario .section input {
  font-size: 2rem;
  border: 1px solid #fff;
  padding: 5px;
  
}

#contact {
  grid-area: contact; 
}

#contactMe {
  grid-area: contactMe;
  font-size: 8rem;
  color: #FFFF00;
}

#contactP {
  grid-area: contactP;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  
  
}

#versionLetra{
  position: absolute;
  font-size: 20px;
  color:#0984ff;
  margin-left: 80%;
  margin-top: 32%;
}

#formulario {
  grid-area: formulario;
  color: rgb(15, 23, 42);
  border: 1px solid #fff;
  padding: 50px;
  border-radius: 10px;
  
}


#location {
  position: absolute;
  grid-area: location;
  top: 80%;
  left: 5%;
  border: 1px solid blue;
  padding: 15px;
  font-size: 1rem;
}

#location img {
  
  width: 30px;
  height: 30px;
  
} 

#What a p{
  position: absolute;
  border: 1px solid blue;
  top: 80%;
  left: 18%;
  color: #fff;
  padding: 40px;
  font-size: 1rem;
}

#What a img {
  position: absolute;
  top: 82%;
  left: 19%;
  font-size: 1rem;
  z-index: 1;
  width: 30px;
  height: 30px;
}

form .section .button {
  color: rgb(79, 70, 229);
  
}

form input {
  font-size: 3rem;
  color: rgb(252, 63, 63);
}

#messages {
  display: grid;
  place-items: center;
  margin-top: 5%;
}

.sectionSignup {
  display: grid;
  place-items: center;
  padding: 50px;
  font-size: 3rem;
  
}  

.sectionSignup form{

  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, .1),
      0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em
      rgba(0, 0, 0, .3);
  }

.sectionSignup form h2 {
  color: #fff;
  -webkit-text-stroke-color: rgb(225, 13, 13);
  -webkit-text-stroke-width: 1px;
}  

.usernames {
  padding: 10px;
  
}

.passwords {
  padding: 10px;
}

.buttonLogin a{
  color: rgb(255, 145, 145);
}

.inputAcept input {
  background: linear-gradient(red,rgb(0, 0, 0));
  color: #fff;
}


/* REGISTER USER MODO */
/* REGISTER USER MODO */

.card {
  width: 300px;
  height: 400px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 20px;
  will-change: transform, filter;
  
}

.card.target {
  color: rgb(0, 231, 255);
  color : rgb(255, 0, 231) ;
  
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33 ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, rgb(255, 255, 255) 25%, transparent 47%, transparent 53%, rgb(0, 255, 81) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://p4.wallpaperbetter.com/wallpaper/709/474/526/line-blue-horse-chess-wallpaper-preview.jpg), linear-gradient(125deg, rgba(255, 0, 132, 0.3137254902) 15%, rgba(252, 164, 0, 0.2509803922) 30%, rgba(255, 255, 0, 0.1882352941) 40%, rgba(0, 255, 138, 0.1254901961) 60%, rgba(0, 207, 255, 0.2509803922) 70%, rgba(204, 76, 250, 0.3137254902) 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
          animation: none;
  transition: box-shadow 0.1 ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
          animation: none;
  background-image: linear-gradient(110deg, transparent 25%, rgb(0, 231, 255) 48%, rgb(255, 0, 231)  52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
          animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  -webkit-animation: holoCard 5s ease 0s 1;
          animation: holoCard 5s ease 0s 1;
}
.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 10s ease infinite;
          animation: holoGradient 10s ease infinite;
}
.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 5s ease 0s 1;
          animation: holoSparkle 5s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    opacity: 1;
    background-position: 100% 100%;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    opacity: 0.88;
    background-position: 0% 0%;
  }
  35%, 39% {
    opacity: 1;
    background-position: 100% 100%;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    opacity: 1;
    background-position: 0% 0%;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    opacity: 1;
    background-position: 100% 100%;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    opacity: 0.88;
    background-position: 0% 0%;
  }
  35%, 39% {
    opacity: 1;
    background-position: 100% 100%;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    opacity: 1;
    background-position: 0% 0%;
    filter: brightness(0.75) contrast(1.25);
  }
}
.cardsRegistered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evely;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.reg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  font-size: 2rem;
  color: #fff;
  margin-top: -130px;
  left: -230px;
  padding: 80%;
  background: linear-gradient(white, black);
  transition: 2s ease;
  -webkit-animation: regAni 21s linear infinite;
          animation: regAni 21s linear infinite;
}

@keyframes regAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* MODO DARK */
/* MODO DARK */


body {
  transition: .4s ease all;
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: 'system-ui', sans-serif;
}



body.dark {
  background: rgb(18, 18, 18);
  transition: .4 ease all;
  color: #59ff00;
}

body.dark nav{
  background: rgb(18, 18, 18);
  transition: .4 ease all;
  
}

body.dark nav p{
  filter: brightness(100%);
  transition: .4 ease all;
  
}

body.dark p{
  transition: .4 ease all;
  color: #59ff00;
}

body.dark h1 {
  transition: .4 ease all;
  color: #59ff00;
}

body.dark a p{
  transition: .4 ease all;
  color: #59ff00;
}

body.dark #header{
  background-color: rgb(18, 18, 18);
  transition: .4 ease all;
  color: #59ff00;
  
}

body.dark #header #redes img:hover{
  transition: .4 ease all;
  background-color: orange;
  
}



body.dark #header #w{
  transition: .4 ease all;
  color: orange;
  
}



body.dark #sectionOne #projects img:hover{
  transition: .4 ease all;
  opacity: 1;
  animation: aAni 5s ease;
} 
  @keyframes aAni {
    0% {
      box-shadow: 2px 5px 5px 5px rgb(0, 255, 0) ;
    }
  }


body.dark #sectionTwo p{
  transition: .4 ease all;
  color: #fff;
}


body.dark #sectionThree h1{
  transition: .4 ease all;
  color: #59ff00;
}
  body.dark #sectionThree p{
  transition: .4 ease all;
  color: #fff;
}

body.dark #sectionFour h1{
  transition: .4 ease all;
  color: #59ff00;
}

  body.dark #sectionFour p{
  transition: .4 ease all;
  color: #fff;
}

body.dark #sectionFour #resume #dowload a{
  transition: .4 ease all;
  color: #59ff00;
}


body.dark #sectionFive {
  transition: .4 ease all;
  background: rgb(15, 23, 42);
}

body.dark #sectionFive h1{
  transition: .4 ease all;
  color: #59ff00;
}

body.dark #sectionFive .section .button a{
  transition: .4 ease all;
  color: #59ff00;
}

body.dark #sectionFive #location p{
  transition: .4 ease all;
  color: #59ff00;
}

body.dark #sectionFive #What a p{
  transition: .4 ease all;
  color: #59ff00;
}

body.dark #header img{
  
  transition: .4 ease all;
  
}


.centradoDark {
  max-width: 1000px;
  width: 100%;
  margin-left: 5px;
  margin-top: -10px;
  
}

.logotipo {
  font-weight: 1000;
  font-family: 'Roboto', sans-serif;
}

.switch {
  background: linear-gradient( red 5%, black);
  border-radius: 1000px;
  border: none;
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  left: 30%;
  cursor: pointer;
  display: flex;
  outline: none;
  margin-left: 1%;
  z-index: 4;
}

.switch::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3 ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
  background: orange;
  color: rgb(203, 8, 8);
      
} 

.switch.active::after {
  
  right: 0;
  left: unset;
}  

span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: none;
  color: #fff;

}




/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */
/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */
/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */
/* THIS IS MEDIA QUERY RESPONSIVE DESIGN */
@media screen and (max-width: 800px) {
  nav ul {
    position: sticky;
    top: 0;
  }

  section div{
    position:relative;
    width: 300px;
    height: 300px;
  }

  nav {
    white-space: nowrap;
    /* background: rgb(79, 70, 229); */
    
    background: linear-gradient(#fff, rgb(15, 23, 42));
    font-size: 2rem;
    
    
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: grid;
    place-items: center;
  }
 
  nav ul li {
    margin: 1rem;
  }
  
  nav ul li a {
    display: block;
    /* padding: 0.5vrem 1rem; */
    color: rgb(15, 23, 42);
    text-decoration: none;
  }
  
  nav ul li a.current {
    color: rgb(99, 102, 241);
  }
/*   
  main {
    padding-bottom: 40rem;
  } */
  
}


/*RESPONSIVE 500 PX */
/*RESPONSIVE 500 PX */
/*RESPONSIVE 500 PX */
@media screen and (max-width: 500px) {
 
  header {
    min-height: 20vh;
    grid-column: 1/3;
    background: rgb(15, 23, 42);
    color: rgb(99, 102, 241);
    padding: 1rem;
    text-align: center;
   }

header img {
  
  width: 100px;
  height: 200px;
  object-fit: content;
  border-radius: 10px;
  
  filter: brightness(100%);
  z-index: 1;
}

header h1 {
  position: absolute;
  top: 5%;
            left: 60%;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  font-size: 1rem;
}

#name {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 1rem;
  
}

#w {
  position: absolute;
  top: 17%;
  left: 10%;
  font-size: 1rem;
  color: yellow;
  animation: wAni 3s ease-in;
}
  @keyframes wAni {
  0% {
    top: 10%;
    left: 10%;
    color: rgb(99, 102, 241);
  }
  50% {
    top: 20%;
    left: 10%;
    color: rgb(99, 102, 241);
  }
  80% {
    top: 15%;
    left: 10%;
    color: rgb(99, 102, 241);
  }
  
 
} 

#redes img {
  object-fit: cover;
  padding: 5px;
  width: 27px;
  height: 27px;
  filter: brightness(100%);
  animation: redesAni 1s ease;
}


#jap {
  position: absolute;
  top: 13%;
  left: 10%;
  font-size: 1rem;
  
}


  section {
    min-height: 70vh;
    max-width: 50vw;
  }

 nav {
    white-space: nowrap;
    /* background: rgb(79, 70, 229); */
    background: linear-gradient(#fff, rgb(15, 23, 42));
    font-size: 10px;
    
    
  }
  
  nav ul {
    list-style: none;
    position: sticky;
    top: 0;
    padding: 0;
    display: grid;
    place-items: center;
  }
 
  nav ul li {
    margin: 1rem;
  }
  
  nav ul li a {
    display: block;
    /* padding: 0.5vrem 1rem; */
    color: rgb(15, 23, 42);
    text-decoration: none;
  }
  
  nav ul li a.current {
    color: rgb(99, 102, 241);
  }
/*   
  main {
    padding-bottom: 40rem;
  } */
  
  #sectionOne {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      'projects .';
      
            
  }

  #projects img {
    width: 30px;
    height: 120px;
    display: flex;
    /* flex-grow: 1; */
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  #projects img:hover {
    cursor: crosshair;
    width: 100px;
    opacity: 1;
  }

  #sectionTwo {
    position: relative;
    height: 40vh;
    display: grid;
    
  }
  
  
    #p1 {
      font-size: 2rem;
      top: 25%;
      left: 2%;
      transition: 1s ease;
      animation: p1Ani 1s linear;
    }
      @keyframes p1Ani {
        0% {
          opacity: 0;
          
        }
        50%{
          opacity: 1;
          
        }
        100%{
          opacity: 1;
        }
      }
  
    
    #p11 {
      font-size: 2rem;
      top: 23%;
      left: 4%;
      transition: 1s ease-in-out;
      animation: p11Ani 1s linear;
    }
      @keyframes p11Ani {
        0% {
          opacity: 0;
        }
        50%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
    
  
    
    #p12 {
      font-size: 2rem;
      top: 15%;
      left: 10%;
      transition: 1s ease-out;
      animation: p12Ani 1s linear;
    }
      @keyframes p12Ani {
        0% {
          opacity: 0;
        }
        60%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
  
    
    #p2 {
      font-size: 2rem;
      top: 20%;
      left: 30%;
      animation: p2Ani 5s linear;
    }
      @keyframes p2Ani {
        0% {
          opacity: 0;
        }
        50%{
          opacity: 10%;
        
      }
    }
  
    
    #p3 {
      font-size: 2rem;
      top: 28%;
      left: 60%;
      animation: p3Ani 5s linear;
    }
      @keyframes p3Ani {
        0% {
          opacity: 0;
        }
        50%{
          opacity: 10%;
        
      }
    }
  


  #sectionThree {
        position: relative;
        max-width: 60vw;
        background: rgb(15, 23, 42);
        color: #fff;
       
      
      }
      
      #abouth {
        position: absolute;
        grid-area: abouth;
        top: -5%;
        left:-5%;
        color: #fff;
        font-size: 3rem;
        z-index: 2;
       
      }
      
      #aboutp {
        position: absolute;
        grid-area: aboutp;
        top: 20%;
        left: 1%;
        font-size: 1rem;
        text-align: justify;
        z-index: 3;
      }
      
      #aboutIzq {
        grid-area: aboutIzq;
      }
      
      #aboutIzq img {
        position: relative;
        top: 100%;
        left: -90%;
        width: 300px;
        height: 200px;
        z-index: 3;
        object-fit: cover;
      }
      
      #ab {
        position: absolute;
        top: 10%;
        left: -5%;
        width: 350px;
        height: 400px;
        background: rgb(99, 102, 241);
        z-index: 2;
      
      } 
      
      #abo {
        position: absolute;
        top: 10%;
        left: 60%;
        width: 300px;
        height: 710px;
        background: #000;
        z-index: 2;
      
      } 
     
      #sectionFour {
        min-height: 100vh;
        
      }
      
      #sectionFour #resume {
        margin: 50px;
        color: rgb(99, 102, 241);
      }
      
      #sectionFour h1 {
        font-size: 3rem;
      }
      
      #sectionFour p {
        font-size: 1rem;
      }
      
      #sectionFour #dowload a {
        position: absolute;
        font-size: 2rem;
        color:rgb(0, 255, 0);
        grid-area: dowload;
        background: transparent;
        z-index: 1;
      }
      
      #sectionFive {
        position: relative;
        font-size: 1rem;
        min-height: 100vh;
        background: #fff;
        font-family: 'Ubuntu',sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          '. .'
          'formulario formulario'
          'contact contact';
      
      }
      
      #formulario {
        position: absolute;
        padding: 10px;
        top: -25%;
        left: 0;
        border: 1px solid blue;
        background: rgb(15, 23, 42);
        width: 350px;
        height: 350px;
      }

      #formulario .section input {
        position: absolute;
        font-size: 1rem;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        color: rgb(79, 70, 229);
       z-index: 1;
      }

      #formulario .section .button {
        position: absolute;
        
        font-size: 2rem;
        top: -350px;
        
        color: rgb(79, 70, 229);
      }

      #formulario .section a {
        position: absolute;
        color: rgb(79, 70, 229);
        left: 20%;
      }

      #formulario .section #botonLogin {
        position: absolute;
        cursor: pointer;
        top: -350px;
        font-size: 2rem;
        left: 70%;
        color: rgb(79, 70, 229);
      }

        

    #username {
        position: absolute;
        top: -50%;
        left: 20%;
      }

      #password {
        position: absolute;
        top: -400px;
        left: 20%;
      }
      
      #contact {
        grid-area: contact; 
        position: absolute;
        
      }
      
      #contactMe {
        position:absolute;
        top: -120%;
        left: 30%;
        text-align: justify;
        grid-area: contactMe;
        font-size: 3rem;
        color:rgb(79, 70, 229);
        z-index: 1;
      }
      
      #contactP {
        position:absolute;
        top: 10%;
        left: 2%;
        grid-area: contactP;
        font-size: 1rem;
        color:rgb(79, 70, 229);
        z-index: 1;
        text-align: justify;
        width: 340px;
        
        }
      
        #location {
          position: absolute;
          display: grid;
          place-items: center;
          top: 80%;
          left: 12%;
          background: #003366;
          
          width: 120px;
          height: 120px;
          font-size: 1rem;
        }
        
        #location img {
          display: grid;
          place-items: center;
          width: 20px;
          height: 20px;
          
        }

        #What a p{
          position: absolute;
          display: grid;
          place-items: center;
          border: 1px solid blue;
          top: 740px;
          left: 50%;
          color: #fff;
          
          padding: 20px;
          font-size: 1rem;
          width: 110px;
          height: 120px;
          background: #003366;
          z-index: 1;
        }
        
        #What a img {
          position: absolute;
          top: 750px;
          left: 65%;
          font-size: 1rem;
          z-index: 2;
          width: 20px;
          height: 20px;
        }
        
      
        #techIMG img{
          grid-area: jsjs;
          width: 28px;
          height: 28px;
          margin: 0;
          }
        
          .switch {
           position: absolute;
           top: 10%;
            left: 70%;
           
            z-index: 4;
          }

          #technologies p {
            font-size: 3rem;
          } 

          
  #p3 {
    opacity: 0;
    font-size: 10rem;
    top: 10%;
    left: 80%;
  }

  
#projects img:hover {
  cursor: pointer;
  

} 

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    '. .'
    'description slider'
    'description .';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding: 20px;
}

.description {
  grid-area: description;
  font-size: 1rem;
  z-index: 1;
  color: rgba(15, 23, 42);
  font-size: 1rem;
}

.slider {
  position: relative;
  background: #fff;
  grid-area: slider;
  display: grid;
  justify-content: center;
  
  border-radius: 20px;
}

.slider img {
  z-index: 2;
}

div.slider::before{
  width: 0;
  height: 0;
  opacity: 0;
}

.slide {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 60%;
  padding: 0;
  bottom: 0;
  width: 20px;
  z-index: 1;
  cursor: pointer;
  border-radius: none;
  background: #fff;
}

.goToLink {
  position: absolute;
  top: 80%;
  left: 45%;
  z-index: 3;
  cursor: pointer;
  border-radius: none;
  color: rgb(100, 255, 100);
}

.prev {
  left: 40%;
}

.next {
  left: 50%;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: rgb(15, 23, 42);
  color: #000;
  font-size: 2rem;
  opacity: 50%;

}

.close:hover {
  opacity: 1;
  color: rgba(255, 255, 255);
  background: rgb(15, 23, 42);
}




      }
  





